<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
	<meta charset=utf-8 />
  	<title>All events</title>
  	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css' rel='stylesheet' />
	<style>
		 body {
            margin: 0;
            padding: 0;
        }
        
	  	#map { position:relative;  bottom: 20px; height: 400px;
            width: 100%;}
        
        * {
            box-sizing: border-box;
        }
	</style>
	
</head>
<body>
  <div layout:fragment="content">
  <div id='table'></div>
    <h1>All events</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-home"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <a class="btn btn-primary" role="button" th:href="@{/events/newevent}"><i>Add Event</i></a>
      <form th:object="${event}" action="/events" method="get">
      <input type="text" name = "search" th:value="${search}" id = "search"/>
      <input type ="submit" value = "Search..">
      </form>      
      <tbody>
        <tr th:each="e : ${events}">
          <td>
            <a th:href="@{/events/{num}(num=${e.id})}" th:text="${e.name}">My Event</a>
          </td>         
          <td th:text="${(e.venue).name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h3> Twitter Feed </h3>
    <table style="overflow:auto;" class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i  class="fas fa-calendar"></i> Date</th>
	      <th><i class="fab fa-twitter"></i></th>
        </tr>
      </thead>
      <tbody>      
        <tr th:each="t, pStat: ${tweetContents}" th:unless="${pStat.index > 4}">
         <td style="white-space: nowrap;"th:text="${t.key}">Date</td>
         <td style="white-space: nowrap;" th:text="${t.value}">Tweet</td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <div class="box">
	<div id='map'></div>
	<script>
		L.mapbox.accessToken = "pk.eyJ1IjoiZ3JvdXAtaDEzIiwiYSI6ImNrOGZ4dXdxbTAwaTgzZ3A3ZDg5NjR0a2IifQ.zJHpLl4QfI0v-AR9mbSGcw";
		var map = L.mapbox.map('map')
	    .setView([40, -74.50], 9)
	    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
	</script>
	</div>
  </div>

</body>
</html>
