<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All events</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <form th:object="${event}" action="/events" method="get">
      <input type="text" name = "search" th:value="${search}" id = "search"/>
      <input type ="submit" value = "Search..">
      </form>      
      <tbody>
        <tr th:each="e : ${events}">
          <td>
            <a th:href="@{/events/{num}(num=${e.id})}" th:text="${e.name}">My Event</a>
          </td>         
          <td th:text="${(e.venue).name}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td>
          	<form th:object="${event}" th:action="@{/events/delete/{id}(id=${e.id})}" th:method="delete">
          		<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
          	</form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</body>
</html>
