<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>An event</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div layout:fragment="content">
    <h1>An event</h1>
    
    <h5><b>Share this event on Twitter!</b></h5>
    <input type="text" id="tweet" name="tweet" placeholder="Event" required/>
    <button type="submit" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>  
      
  	<form th:text="@{/events/{num}(num=${id})}"></form>
  	<td>
  		<form th:object="${event}" th:action="@{/events/update/{id}(id=${id})}">
  			<button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> Update</button>
  		</form>
  		<br/>
  		<form th:object="${event}" th:action="@{/events/delete/{id}(id=${id})}" th:method="delete">
	    	<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
	  	</form>
  	</td>
  </div>      
</body>
</html>
