<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>An event</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:500px; bottom:50px; width:66%; }
</style>
</head>
<body>
  <div layout:fragment="content">
 	<div> </br>
 	<h2><a th:text ="${event.name}" </a> </h2>
 	<h4>Venue:<p></p><span style="font-weight:normal;"><a th:text ="${(event.venue).name}" </a></h4> </span>
 	<h4>Date:<p></p><span style="font-weight:normal;"><a th:text = "${event.date}"> </a>  </h4> </span>
 	<h4>Time:<p></p><span style="font-weight:normal;"><a th:text = "${event.time}"> </a> </h4> </span>
 	<h4>Description</h4>This event is a show case for the COMP23412 Module!   
 	<div style="positon:absolute; right:200px;">
 	<h5><b>Share this event on Twitter!</b></h5>
	    <form th:action="@{/events/tweet/{id}(id=${id})}" th:object="${event}" method="post">
	    	<input type="text" id="tweet" name="tweetMsg" placeholder="Write a Tweet" required/>
	    	<button type="submit" class="btn btn-primary" href="/events/tweet"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
	    </form>
	    </div>
	</div> <p></p>
	    <div style ="position:absolute; right:0; margin-top:-200px; left:200px">
  		<form th:object="${event}" th:action="@{/events/update/{id}(id=${id})}">
  			<button type="submit" class="btn btn-primary"><i class="fas fa-edit" aria-hidden="true"></i> Update</button>
  		</form>
  		
  		<br/>
  		<form th:object="${event}" th:action="@{/events/delete/{id}(id=${id})}" th:method="delete">
	    	<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
	  	</form>
	  	</div>

  	    <div class="box">
  	 <div id='map' style="float:right;"></div>
<script th:inline="javascript">
/*<![CDATA[*/
   

    var latitude = /*[[${event.venue.latitude}]]*/;
    var longitude = /*[[${event.venue.longitude}]]*/;

   
/*]]>*/

L.mapbox.accessToken = 'pk.eyJ1IjoiZ3JvdXAtaDEzIiwiYSI6ImNrOGZ4dXdxbTAwaTgzZ3A3ZDg5NjR0a2IifQ.zJHpLl4QfI0v-AR9mbSGcw';
var map = L.mapbox.map('map')
    .setView([latitude, longitude], 6)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

// L.marker is a low-level marker constructor in Leaflet.
L.marker([latitude, longitude], {
    icon: L.mapbox.marker.icon({
        'marker-size': 'large',
        'marker-symbol': 'bus',
        'marker-color': '#fa0'
    })
}).addTo(map);
</script>
</div>
  	
  </div>      
  

  
  
</body>
</html>
