<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>An event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>An event</h1>
    
      
  <form th:text="@{/events/{num}(num=${id})}"></form>
  
  <td>
  	<form th:object="${event}" th:action="@{/events/delete/{id}(id=${id})}" th:method="delete">
    	<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
    </form>
  </td>

  </div>  
    
</body>
</html>
