<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Update an Event</title>
</head>
<body>
    <form th:action="@{/events/update/{id}(id=${id})}" th:object="${events}" method="post">
	  <label for="name">Event Name</label><br>
	  <input type="text" id="name" name="event" autofocus="autofocus" th:value"${updateEvent.name}" /> </th><br>
	  
	  <label for="name">Venue</label><br>
	  <input type="text" id="venue" name="venue" autofocus="autofocus" th:value"${updateEvent.venue}" /> </th><br>
	  
	  <label for="name">Date</label><br>
	  <input type="date" id="date" name="date" autofocus="autofocus" th:value"${updateEvent.date}" /> </th><br>
	  
	  <label for="name">Time</label><br>
	  <input type="time" id="time" name="time" autofocus="autofocus" th:value"${updateEvent.time}" /> </th><br>
	  
	 
	  <input type="submit" id="submit" name="submit" autofocus="autofocus" th:value"$(submit)" /> </th>
	  <input type="reset" id="reset" name="reset" autofocus="autofocus" th:value"$(reset)" /> </th>
  </form>
 	
</body>
</html>
